nav ul {
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    left: 0;
    display: inline-block;
    margin-right: 20px; /* Add spacing between menu items */
  }
  
  nav ul li a {
    left: 0;
    text-decoration: none;
    color: #333; /* Set the link color */
    font-weight: bold;
  }
  